# Node modules
node_modules/

# Composer vendor
vendor/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/

# WordPress plugin zips
*.zip

# Folder for versioned plugin zips
builds/

# Env files
.env

# Build output
dist/
build/

# Others
*.bak
*.tmp
# Ignore large image assets in auxiliar
auxiliar/*.png
auxiliar/
